/******************************
             FONT
******************************/
@import url('https://fonts.googleapis.com/css?family=Gothic+A1:700|Russo+One');

@font-face {
    font-family: 'TextAA';
    font-style: normal;
    font-weight: normal;
    src: local('TextAA'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.eot) format('eot'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.woff) format('woff'),
    url(https://keage.sakura.ne.jp/fonts/Saitamaar.ttf) format('truetype')
}

/******************************
           GLOBAL
******************************/
body {
    padding: 10px;
    margin: 0;
    margin-left: 150px;
    background-color: rgb(240, 240, 240);
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

/******************************
          INPUT FORM
******************************/
input[type="text"]{
    width:100%;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    border: 1px solid rgb(200, 200, 200);
    padding:8px;
    margin:4px 0px 4px 0px;
    color:#808080;
}

input[type="file"]{
    width:100%;
    height:35px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    margin:4px 0px 4px 0px;
    border:solid 0px gray;
    color:white;
    cursor: pointer;
    filter: alpha(opacity=0);
}

input[type="submit"]{
    width:100%;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    padding:10px;
    margin:4px 0px 4px 0px;
    border:solid 0px gray;
    font-size: 20px;
    color:white;
    background-color: skyblue;
}

textarea{
    width:100%;
    height:100px;
    -webkit-box-sizing : border-box;
    -moz-box-sizing : border-box;
    box-sizing : border-box;
    padding:8px;
    margin:4px 0px 4px 0px;
    border:solid 0px gray;
    color:#808080;
}

/******************************
            MENU
******************************/
div#menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 150px;
    height: 100%;
    border-right: 1px solid rgb(200, 200, 200);
    background-color: rgba(30, 30, 30, 0.9);
    overflow-y: auto;
}

div#menu a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

div#menu li {
    letter-spacing: 8pt;
    margin-top: 30px;
    padding-left: 8px;
}

/******************************
           SEARCH
******************************/
fieldset.search {
    border: 0;
    margin: 5px auto;
    padding: 5px;
    background-color: rgba(255, 255, 255, 0.8);
}

div.return_button {
    border: 0;
    margin: 5px auto;
    padding: 5px;
    max-width: 1190px;
    min-width: 790px;
    background-color: rgba(255, 255, 255, 0.7);
    text-align: center;
}

/******************************
           BUTTON
******************************/
button {
    border: 0;
    background-color: rgba(255, 255, 255, 0.5);
    margin-left: 5px;
}

/******************************
          CARD LIST
******************************/
div.card_list {
    border-top: 1px solid rgb(200, 200, 200);
    border-bottom: 1px solid rgb(200, 200, 200);
    min-width: 700px;
    float:left;
}

div.card_list p.title {
    color: rgb(0, 78, 217); 
    font-weight: bold;
}

div.card_list p.info {
    color: rgb(103, 103, 103);
    font-size: 13px;
}

div.card_list a {
    text-decoration: none;
    color: rgb(74, 74, 74);
}

div.card_list a.order {
    text-decoration: none;
    color: rgb(0, 78, 217);
}

li.list_node {
    box-shadow: 0px 0px 20px -8px rgba(0,0,0,0.75);
    background-color: rgba(255, 255, 255, 0.7);
    margin: 5px;
    padding: 5px;
    word-break:break-all;
    text-decoration: none;
    width: 700px;
}

li.list_node p {
    margin: 5px;
    padding: 0;
}

div.card_tag {
    float: right;
    width: 220px;
    margin: 20px 0px;
    margin-right: 100px;
    padding: 20px; 
}

ul.tag_node {
    margin: 5px;
    padding: 5px;
    word-break:break-all;
    color: gray;
}


ul.tag_node p {
    text-decoration: none;
    font-size: 17px;
    font-weight: bold;
    color: black;
}

li.tag {

display: inline-block;
    padding: 3px 4px;
    margin: 0 0 1px 0;
    font-weight: 400;
    font-size: 12px;
    line-height: 1;
    text-decoration: none;
    color: #757575;
    background-color: rgba(0,0,0,.075);
    border: 0!important;
    border-radius: .2em;

}
/******************************
           NOTICE
******************************/
div#notice {
    border: 1px solid rgb(200, 200, 200);
    min-width: 780px;
    margin: 40px auto;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.7);
}


/******************************
            CARD
******************************/
div.card {
    border-top: 5px solid black;
    border-bottom: 5px solid black;
    min-width: 800px;
    margin-top: 40px;
}

div.card_head {
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgb(80, 80, 80);
    color: black;
}

div.card_head li {
    line-height: 1.1em;
}

div.card_head li.order {
    font-family: 'Russo One';
    font-size: 140pt;
    font-weight: bold;
    line-height: 0.9em;
}

div.card_head li.number {
    font-size: 11pt;
    color: rgb(100, 100, 100);
}

div.card_head li.owner {
    font-size: 16pt;
    color: rgb(100, 100, 100);
    font-weight: 600;
}

div.card_head li.title {
    font-family: 'Gothic A1';
    font-size: 40pt;
}

div.card_head li.title a {
    font-family: 'Gothic A1';
    text-decoration:none;
    color:black;
}

div.card_head li.time {
    font-size: 10pt;
    color: rgb(100, 100, 100);
}

fieldset.post {
    border-top: 2px solid black;
    padding: 5px;
    border: 0;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
    color: white;
}

div.card_end {
    background-color: rgba(80, 80, 80, 0.7);
    color: white;
    text-align: center;
}

/******************************
            POST
******************************/
li.post {
    list-style: none;
    background-color: rgba(255, 255, 255, 0.7);
    box-shadow: 5px 5px 20px -8px rgba(0,0,0,0.75);
    margin: 6px;
    padding: 5px;
    word-break:break-all;
    text-decoration: none;
}

li.post p {
    margin: 0;
    padding: 0;
}

li.post span.order {
    font-weight: bold;
    color: rgb(0, 78, 217);
}

li.post span.id {
    font-size: 10pt;
}

li.post span.name {
    color: rgb(40, 40, 40);
}

li.post p.time {
    margin-left: 10px;
    font-size: 10pt;
    color: rgb(80, 80, 80);
}

li.post p.content {
    margin-left: 10px;
    color: rgb(80, 80, 80);
}

p.mona {
    white-space: nowrap;
    overflow: auto;
    font-family: 'TextAA';
    line-height: 1.1em;
    background-color: rgba(255, 255, 255, 0.7);
}

/******************************
             ETC
******************************/
p#version {
    text-align: right;
    padding-right: 20px;
    font-size: 14px;
    min-width: 800px;
    margin: 10px auto;
    color: rgb(120, 120, 120);
}

iframe.youtube {
    width: 500px;
    height: 300px;
}

span.spoiler {
    color: rgba(0,0,0,0);
}


/******************************
             TAB
******************************/
.container{
    width: 800px;
    margin: 0 auto;
}

ul.tab{
    margin: 0px;
    padding: 0px;
    list-style: none;
}
ul.tab li{
    background: none;
    color: #222;
    display: inline-block;
    padding: 2px 3px;
    cursor: pointer;
}
.tab li a {
    display: inline-block;
    color: #000;
    text-align: center;
    text-decoration: none;
    padding: 14px 16px;
    font-size: 17px;
    transition:0.3s;
}
ul.tab li.current{
    background: white;
    color: #222;
}

.tabcontent{
    display: none;
    background: #ededed;
    padding: 15px;
}

.tabcontent.current{
    display: inherit;
}